html, body{
	height: 100%;
}
body{
	font-size: 1em;
	margin: 0;
	color: #ffffff;
}

/* Header Page */
header{
	background-color: #000;
}
header div{
	margin-left: 10px;
	margin-right: 10px;
}
.container{
	max-width: 80%; 
	margin: 0 auto;
	min-height: 100%;
}
.headerflex{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.navbar{
	display: flex;
	justify-content: space-between;
}
.navbar a{
	text-decoration: none;
	padding: 5px;
	border: 1px solid #ffffff;
	margin: 5px;
	margin-bottom: 0;
	color: white;
}
.cac{
	display: flex;
	flex-direction: column;
}
.cash p{
	margin: 5px;
}
.commodities p{
	margin: 5px;
}

/* main page */
body{
	height: 100%;
	background-image: url(Images/background.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.maingrid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.sellmsterial {
	text-align: center;
}

.gif{
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
	background-color: black;
	color: white;
}
footer{
	display: flex;
	justify-content: center;
}

/*Task page*/
h1 {
	margin: 0px;
}

.planet {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5px;
}

.planet div {
	background-color: grey;
	border-radius: 15px;
	background: rgba( 232, 49, 49, 0.5);
}

.title {
	grid-column-start: 1;
	grid-column-end: 4;
	text-align: center;
}

.info {
	grid-column-start: 2;
	grid-column-end: 4;
	padding: 10px;
}

.task {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background: rgba( 232, 49, 49, 0.5);
	border-radius: 15px;
	margin-top: 5px;
}

.image img {
	width: 225px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	padding-bottom: 25px;
}

.info-task {
	padding: 10px;
}

.commodities {
	text-align: right;
}

.button {
	margin: auto;
	text-align: center;
}

.task {
	margin-bottom: 10px;
}