html, body{
	height: 100%;
}

@font-face {
	font-family: 'bariol';
	src : url('fonts/Bariol/Bariol-Regular.eot') format('embedded-opentype'),
	url('fonts/Bariol/Bariol-Regular.woff') format('woff'),
	url('fonts/Bariol/Bariol-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: 'bariol';
	font-size: 1em;
	margin: 0;
	color: #ffffff;
}

/* Header Page */
header{
	background-color: #000;
}
header div{
	margin-left: 10px;
	margin-right: 10px;
}
.container{
	max-width: 80%;
	margin: 0 auto;
	min-height: 100%;
}
.headerflex{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.navbar{
	display: flex;
	justify-content: space-between;
}
.navbar a{
	text-decoration: none;
	padding: 5px;
	border: 1px solid #ffffff;
	margin: 5px;
	margin-bottom: 0;
	color: white;
}
.cac{
	display: flex;
	flex-direction: column;
}
.cash p{
	margin: 5px;
}
.commodities p{
	margin: 5px;
}

/* main page */
body{
	height: 100%;
	background-image: url(Images/background.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.maingrid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 5px;
}
.maingrid div *{
	padding-left: 15px;
}
.personalinformation{
	background: rgba(232,49,49,0.5);
	border-radius: 15px;
}
.tasks{
	background: rgba(232,49,49,0.5);	
	border-radius: 	15px;
}
.gif{
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
}
.gif img{
	height: auto;
	width: 100%;
}
.sellmaterial {
	text-align: center;
}
footer{
	display: flex;
	justify-content: center;
}

/*Task page*/
h1 {
	margin: 0px;
}

.planet {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5px;
}

.planet div {
	background-color: grey;
	border-radius: 15px;
	background: rgba( 232, 49, 49, 0.5);
}

.title {
	grid-column-start: 1;
	grid-column-end: 4;
	text-align: center;
}

.info {
	grid-column-start: 2;
	grid-column-end: 4;
	padding: 10px;
}

.task {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background: rgba( 232, 49, 49, 0.5);
	border-radius: 15px;
	margin-top: 5px;
}

.image img {
	width: 225px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	padding-bottom: 25px;
}

.info-task {
	padding: 10px;
}

.commodities {
	text-align: right;
}

.button {
	margin: auto;
	text-align: center;
}

.task input[type=submit] {
	border: none;
	border-radius: 15px;
	padding: 15px 32px;
	background: #ed2f2f;
}

.task {
	margin-bottom: 10px;
}

/*/upgradestation/*/

.upgradestationGrid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5%;
}
.upgradestationGrid div *{
	text-align: center;
}
.upgradestationGrid div img{
	display: flex;
	justify-content: center;
	margin: auto;
}
.upgradestationGrid div ul {
	list-style: none;
}
.upgradestationGrid li{
	font-size: 25px;
	margin: 5px;
}

.Hunter-Gratzner{
	width: 420px;
	height: auto;
}

/*Login/create page*/

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px;
}

.grid-container .content {
	padding: 40px;
	background: rgba( 232, 49, 49, 0.5);
	border-radius: 15px;
}

.content input[type=submit] {
	border: none;
	border-radius: 15px;
	padding: 15px 32px;
	background: #ed2f2f;
	margin: 20px;
}

/*leaderbord page*/

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.grid-container .grid-item li{
	padding: 5px;
	background: rgba( 232, 49, 49, 0.5);
	border-radius: 15px;
	margin-bottom: 2px;
}

.grid-container .grid-item ol {
	list-style-type: none;
}

/*upgradestation page*/

.upgradestationGrid{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.upgradestationGrid li{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-decoration: none;
	text-align: center;
	background: rgba(232, 49, 49, 0.5);
	border-radius: 15px;
	padding: 30px;
	padding-bottom: 0px;
}
.upgradestationGrid{
	font-size: 1.5em;
}
.upgradestationGrid li img{
	display: flex;
}

.upgradestationGrid input[type=submit] {
	border: none;
	border-radius: 15px;
	padding: 15px 32px;
	background: #ed2f2f;
	margin: 5px;
}

.upgradestationGrid img {
	width: 450px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	padding-bottom: 25px;
}

.upgradestationstyle input[type=submit] {
	border: none;
	border-radius: 15px;
	padding: 15px 32px;
	background: #ed2f2f;
	margin: 5px;
}